[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
black = "*"
awswrangler = "*"
scikit-learn = "*"
autopep8 = "*"
jupyter = "*"
pandas-profiling = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
