[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"

[packages]
awswrangler = "*"
pandas = "*"
pandas-profiling = "*"
scikit-learn = "*"
seaborn = "*"

[requires]
python_version = "3.8"
