[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"

[packages]
black = "*"
awswrangler = "*"
scikit-learn = "*"
autopep8 = "*"
jupyter = "*"
pandas-profiling = "==2.8.0"
beautifulsoup4 = "*"
jinja2 = "*"
rope = "*"
great-expectations = "*"
pytest = "*"
statsmodels = "*"
pymc3 = "*"
paramiko = "*"
notebook = "==6.4.1"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
